.container{
    height: 100vh;
}

.bg-info, #ad{
    text-align: center;
    color: black;
}

.col{
    border: 10px solid #337AB7;
    padding: 20px;
    padding-bottom: 10px;
}

.row{
    margin: 10px;
}

h4{
    margin-bottom: 0px;
    margin-left: 5px;
}

#aF, #aL{
    height: 80%;
    padding-bottom: 5px;
}

#sbFeat{
    height: 100%;
}

#footer{
    margin-top: 30px;
}

@media screen and (min-width: 1200px) {
    #hero{
        border: none;
    }

    .hero-left{
        padding-left: 0px;
    }
    
    #ad {
        border-left: 19px solid white;
        padding-top: 37px;
        padding-bottom: 36px;
        border-right: 50px solid #F2DEDE;  
    }

    #ad h4{
        color: white;
        padding-left: 29px;
    }
    
    #large-body{
        border: none;
    }
    
     #body{
        padding: 0px;
    }

    #sidebar{
        border-left: 19px solid white;
        padding-top: 15px;
    }
}


